<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="softcube.com.shopsample">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Enables vibration permission for notification. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="softcube.com.shopsample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="softcube.com.shopsample.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.softcube.siteId"
            android:value="test" />
        <meta-data
            android:name="PW_APPID"
            android:value="7B47B-B645E" />
        <meta-data
            android:name="PW_PROJECT_ID"
            android:value="A608613573440" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="softcube.com.shopsample.ItemListActivity" />
        </activity>
        <activity
            android:name=".ShopingCartActivity"
            android:label="@string/title_cart"
            android:theme="@style/AppTheme.NoActionBar" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.pushwoosh.richpages.RichPageActivity" />
        <activity android:name="com.pushwoosh.MessageActivity" />
        <activity android:name="com.pushwoosh.PushHandlerActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="PACKAGE_NAME" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.pushwoosh.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMRegistrationService"
            android:exported="false"/>

    </application>

</manifest>
